.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black
}
.logo{
    width: 130px;
}
.nav-items>ul{
    display: flex;
    padding: 8px 20px;
    list-style-type: none;
}
.nav-items>ul>li{
    padding:10px ;
    margin: 10px;
}
.res-card{
    padding: 5px;
    width: 200px;
    height: 450px;
    margin: 5px
}
.search{
    padding: 10px;
}
.res-logo{
    width:100%;
    object-fit: contain;

    
}
.res-card:hover{
   
    border: 1px solid black;
    cursor: pointer;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.img-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.filter-btn{
    cursor: pointer;
}
.Shimmer-cards{
    background-color: gray;
    width: 200px;
    height:400px;
    margin:20px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.login{
    padding: 0 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}